unstructured
tiktoken
pinecone-client
pypdf
openai
langchain
pandas
numpy
langchain-openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu